.main-box{
    padding: 24px;
    background-color: #f7f7f8;
    border-radius: 10px;
}
.main-box .packing{
    font-size: 45px;
    color: #64b496;
    text-align: center;
}
.main-box .lorem{
    font-size: 16px;
    color: #7a7a7a;
    text-align: center;
}
.main-box h5{
    text-align: center;
    font-weight: 600;
}