.milk .box{
    width: 100%;
    background-color: #f7f7f8;
    text-align: center;
    margin: 5px;
    padding: 9px;
}
.milk .box p{
    color: black;
}
.milk .box:nth-last-child(1){
    color: green;
}
.milk .box:nth-last-child(6){
    color: green;
}
.milk .box h5{
    margin: 5px;
}
.milk{
    margin: 50px 0;
}
.offer{
    background-image: url('public/3.jpeg');
    width: 100%;
    background-repeat: no-repeat;
    margin-left: 40px;
    margin-top: 10px;
    color: white;
    height: 600px;
   
    overflow: hidden;
}
.offer h3{
    color: white;
    font-size: 30px;
    padding: 10px;
}

.offer h5{
    text-align: center;
    margin-top: 330px;
    font-size: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.offer button{
    display: block;
    margin: 0 auto;
    background-color: rgba(170, 231, 170, 0.608);
    color: white;
}
.now{
    background-image: url('public/4.jpeg');
}

